*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after,
nav:after,
header:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure,
dl,
dd {
  margin: 0;
}
input,
textarea {
  outline: none;
}
a {
  text-decoration: none;
}
p {
  margin: 25px 0;
  font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  padding: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.top-panel {
  background: #000000;
  padding: 20px 0;
}
.top-panel .top-panel-phone,
.top-panel .top-panel-email,
.top-panel .top-panel-map,
.top-panel .top-panel-shedule {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.56);
}
.top-panel .top-panel-map,
.top-panel .top-panel-shedule {
  margin: 0;
}
.top-panel .top-panel-phone:hover,
.top-panel .top-panel-email:hover {
  color: #ffffff;
}
.top-panel .top-panel-phone,
.top-panel .top-panel-map {
  margin-left: 115px;
}
.top-panel .fa {
  margin-right: 9px;
  font-size: 18px;
  vertical-align: middle;
}
header {
  background: #222222;
  padding: 20px 0;
}
.header-logo {
  margin-top: 9px;
}
.header-logo img {
  display: block;
  width: 240px;
}
.mobile-menu,
.mobile-clearfix {
  display: none;
}
.mobile-menu {
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.mobile-menu svg {
  fill: #ffffff;
}
.mobile-menu:active svg,
.mobile-menu.opened svg {
  fill: #f5dc03;
}
.header-menu {
  position: relative;
  margin-left: 120px;
  padding-top: 20px;
}
.header-menu li {
  display: inline-block;
  margin-right: 45px;
  vertical-align: top;
}
.header-menu li:last-child {
  margin-right: -4px;
}
.header-menu a {
  position: relative;
  display: block;
  font-family: 'Roboto', 'Open Sans Light', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #ffffff;
  text-transform: lowercase;
}
.header-menu-line {
  position: absolute;
  width: 0;
  height: 1px;
  left: 0;
  bottom: 0;
  background: #f5dc03;
  transition: all 0.6s ease;
}
.header-phone {
  margin-top: 10px;
  text-align: right;
}
.header-phone-callback,
.header-phone-tel {
  color: #ffffff;
}
.header-phone-tel {
  display: block;
  font-size: 22px;
  line-height: 1;
}
.header-phone-callback {
  font-size: 14px;
  border-bottom: 1px solid #ffffff;
}
.header-phone-callback:hover {
  border-color: transparent;
}
.callback {
  outline: none;
}
.promo {
  position: relative;
  padding: 60px 0 100px;
  color: #ffffff;
  background: url('../img/bg-header.jpg') no-repeat center top;
  background-size: cover;
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.76);
}
.promo-content,
.promo-form {
  width: 50%;
}
.promo-content {
  padding-top: 15px;
  padding-left: 25px;
  position: relative;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 0.6s linear;
}
.promo-content.visible {
  transform: translateX(0);
  opacity: 1;
}
.promo-title {
  margin: 0 0 35px;
  padding: 30px 0 30px 30px;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 26px;
  border-top: 1px solid #f5dc03;
  border-bottom: 1px solid #f5dc03;
}
.promo-title b {
  color: #f5dc03;
  text-transform: uppercase;
}
.promo-advantage-single {
  margin-bottom: 45px;
}
.promo-advantage-single img,
.promo-advantage-single figcaption {
  display: inline-block;
  vertical-align: middle;
}
.promo-advantage-single img {
  width: 65px;
  height: auto;
}
.promo-advantage-single figcaption {
  max-width: 300px;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 400;
  font-size: 21px;
  padding-left: 35px;
}
.promo-advantage-single:last-child {
  margin-bottom: 0;
}
.promo-services {
  margin-left: 35px;
  padding: 5px 0;
}
.promo-services ul {
  margin: 0;
  padding: 0;
  padding-left: 65px;
  list-style-type: square;
  border-left: 1px solid #f5dc03;
}
.promo-services li {
  margin-bottom: 10px;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 400;
  font-size: 23px;
  color: #f5dc03;
}
.promo-services li:last-child {
  margin-bottom: 0;
}
.promo-services strong {
  font-weight: 400;
  color: #ffffff;
}
.promo-form {
  color: #ffffff;
  position: relative;
  transform: translateX(100px);
  opacity: 0;
  transition: all 0.6s linear;
}
.promo-form.visible {
  transform: translateX(0);
  opacity: 1;
}
.promo-form form {
  position: relative;
  width: 445px;
  padding: 50px 20px 30px;
  background: #222222;
  border: 3px solid #dcc503;
  border-radius: 20px;
}
.promo-form form br {
  display: none;
}
.promo-form form p {
  margin: 0;
}
.promo-form .form-title {
  margin: 0 0 30px;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.80pt;
  text-align: center;
  text-transform: uppercase;
}
.promo-form input[type=text],
.promo-form input[type=tel],
.promo-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 18px 30px;
  font-size: 17px;
  color: #ffffff;
  background: #333333;
  border: none;
}
.promo-form input[type=text]::-webkit-input-placeholder,
.promo-form input[type=tel]::-webkit-input-placeholder,
.promo-form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-style: italic;
}
.promo-form input[type=text]::-moz-placeholder,
.promo-form input[type=tel]::-moz-placeholder,
.promo-form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-style: italic;
}
.promo-form input[type=text]:-moz-placeholder,
.promo-form input[type=tel]:-moz-placeholder,
.promo-form textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-style: italic;
}
.promo-form input[type=text]:-ms-input-placeholder,
.promo-form input[type=tel]:-ms-input-placeholder,
.promo-form textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-style: italic;
}
.promo-form textarea {
  height: 120px;
  resize: none;
}
.promo-form input[type=submit] {
  display: block;
  width: 100%;
  margin-top: 30px;
  padding: 13px 0;
  font-size: 22px;
  color: #222222;
  background-image: -moz-linear-gradient(90deg, #c0b213 0%, #ffe400 100%);
  background-image: -webkit-linear-gradient(90deg, #c0b213 0%, #ffe400 100%);
  background-image: -ms-linear-gradient(90deg, #c0b213 0%, #ffe400 100%);
  border: none;
  border-radius: 20px;
  text-align: center;
}
.promo-form input[type=submit]:hover {
  background-image: -moz-linear-gradient(90deg, #ffe400 0%, #c0b213 100%);
  background-image: -webkit-linear-gradient(90deg, #ffe400 0%, #c0b213 100%);
  background-image: -ms-linear-gradient(90deg, #ffe400 0%, #c0b213 100%);
}
.promo-form input[type=submit]:active {
  position: relative;
  top: 2px;
}
.promo-form .ajax-loader {
  position: absolute;
  right: 15px;
  top: 15px;
}
.promo-form div.wpcf7-response-output {
  margin: 30px 0 0;
  padding: 15px;
  font-size: 16px;
}
.promo-form span.wpcf7-not-valid-tip {
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #EC3800;
}
.block-title {
  position: relative;
  margin: 0;
  padding: 30px 0 0;
  font-family: 'PT Sans Narrow', 'Open Sans Condensed', sans-serif;
  font-size: 43px;
  font-weight: 400;
  letter-spacing: 0.07em;
}
.block-title:before,
.block-title:after {
  content: '';
  left: 0;
  position: absolute;
  height: 2px;
}
.block-title:before {
  top: 0;
  width: 90px;
  background: #f5dc03;
}
.block-title:after {
  top: 15px;
  width: 210px;
  background: #000000;
}
.index-double {
  padding: 80px 0;
  background: url('../img/bg-double.jpg') repeat-y left 38px top;
  background-size: 100% auto;
}
.index-double strong {
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 19px;
}
.index-double-about,
.index-double-advantages {
  width: 50%;
}
.index-double-about {
  padding-right: 70px;
}
.index-double-advantages {
  padding-left: 70px;
  color: #ffffff;
}
.index-double-advantages .block-title:after {
  background: #ffffff;
}
.advantages-list {
  position: relative;
  margin-top: 25px;
}
.advantages-line {
  position: absolute;
  top: 0;
  left: 42px;
  width: 2px;
  height: 100%;
  background: #ffffff;
}
.advantage-single {
  position: relative;
  margin-bottom: 45px;
}
.advantage-single .advantage-img,
.advantage-single p {
  display: inline-block;
  vertical-align: middle;
}
.advantage-single:nth-last-of-type(1) {
  margin-bottom: 0;
}
.advantage-single:nth-of-type(2) img {
  margin-left: 25px;
}
.advantage-single p {
  margin: 0;
  padding-left: 15px;
  position: relative;
  right: -70px;
  opacity: 0;
  transition: all 0.7s ease;
}
.advantage-single p.visible {
  right: 0;
  opacity: 1;
}
.advantage-img {
  position: relative;
  width: 85px;
  height: 85px;
  background: #222222;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.7s ease;
  transform-origin: center center;
}
.advantage-img.visible {
  transform: scale(1);
}
.advantage-img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.index-slider {
  position: relative;
  padding: 75px 0;
  background: url('../img/bg-slider.jpg') no-repeat center top;
  background-size: cover;
}
.index-slider .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.94);
}
.slide-img,
.slide-content {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.slide-img {
  width: 380px;
}
.slide-img img {
  display: block;
  max-width: 100%;
  height: auto;
}
.slide-content {
  width: calc(100% - 380px);
  width: -webkit-calc(100% - 380px);
  width: -moz-calc(100% - 380px);
  width: -o-calc(100% - 380px);
  width: -ms-calc(100% - 380px);
  padding-left: 70px;
  padding-right: 50px;
}
.slide-content p:last-of-type {
  margin-bottom: 0;
}
.slide-title {
  margin: 0 0 30px;
  padding: 0 0 10px;
  position: relative;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 400;
  font-size: 34px;
}
.slide-title a {
  color: #000000;
}
.slide-title a:hover {
  color: #333333;
}
.slide-title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 345px;
  background: #000000;
}
.slick-slide {
  outline: none !important;
}
.slick-dots {
  position: absolute;
  right: 3.125%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  list-style: none;
}
.slick-dots button {
  display: none;
}
.slick-dots li {
  display: block;
  width: 18px;
  height: 18px;
  margin-bottom: 20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.55);
  cursor: pointer;
}
.slick-dots li:last-child {
  margin-bottom: 0;
}
.slick-dots li.slick-active {
  background: #000000;
}
.index-portfolio .container {
  padding-top: 70px;
  padding-bottom: 70px;
}
.index-portfolio .block-title,
.index-portfolio .index-portfolio-content {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.index-portfolio-content {
  max-width: 930px;
  padding-left: 100px;
  text-align: justify;
}
.index-portfolio .portfolio-single {
  width: 20%;
  padding: 0;
}
.index-contacts {
  font-size: 20px;
}
.index-contacts .container {
  padding: 75px 0;
}
.index-contacts .block-title {
  margin-bottom: 55px;
}
.index-contacts .fa {
  margin-right: 15px;
  font-size: 38px;
  color: rgba(0, 0, 0, 0.34);
  vertical-align: middle;
}
.index-contacts strong {
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 700;
}
.index-contacts a {
  display: block;
  margin-left: 33px;
  color: #000000;
}
.index-contacts p {
  margin: 0;
}
.contacts-phones br {
  display: none;
}
.contacts-shedule strong,
.contacts-phones strong {
  display: block;
}
.contacts-shedule p,
.contacts-phones p {
  margin-left: 49px;
}
.contacts-email a {
  margin-left: 50px;
}
p.contacts-map {
  margin-top: 35px;
}
.contacts-shedule {
  margin-left: 60px;
  max-width: 300px;
}
.contacts-shedule,
.contacts-phones,
.contacts-map {
  position: relative;
  left: -100px;
  opacity: 0;
  transition: all 0.7s linear;
}
.contacts-shedule.visible,
.contacts-phones.visible,
.contacts-map.visible {
  left: 0;
  opacity: 1;
}
#tentcar_map {
  height: 700px;
}
.index-contacts-form {
  width: auto;
  position: absolute;
  right: 0;
  z-index: 1;
  bottom: 0;
  opacity: 0;
  transition: all 0.7s linear;
}
.index-contacts-form.visible {
  opacity: 1;
  bottom: -200px;
}
.index-contacts-form .form-title {
  font-size: 20px;
  text-transform: none;
}
footer {
  padding: 25px 0;
  background: #222222;
}
.footer-phone,
.footer-info,
.footer-developer {
  display: inline-block;
  width: 33.333333333333%;
  margin-right: -4px;
  vertical-align: middle;
}
.footer-phone {
  text-align: left;
}
.footer-phone .header-phone-tel {
  color: #f5dc03;
}
.footer-info {
  text-align: center;
  font-family: 'PT Sans Narrow', 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.49);
}
.footer-developer {
  padding-top: 7px;
  text-align: right;
}
.footer-developer img {
  display: inline-block;
}
.container-inner {
  position: relative;
  width: 910px;
  margin: 0 auto;
  padding: 0;
}
body.page {
  background: url('../img/bg-page.jpg') no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}
.text-page-content .container {
  background: #ffffff;
  padding-bottom: 25px;
}
.inner-page-content {
  padding-top: 50px;
}
.inner-page-content img {
  max-width: 100%;
  height: auto;
}
.inner-page-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.inner-page-content ul li {
  font-size: 20px;
}
.inner-page-content strong,
.inner-page-content b {
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-size: 21px;
  font-weight: 400;
}
.inner-page-content p:first-child {
  margin-top: 0;
}
.inner-page-content p:last-child {
  margin-bottom: 0;
}
.inner-page-content table {
  width: 100% !important;
  height: auto !important;
}
.inner-page-content table td {
  padding: 0 5px 30px;
}
.inner-page-content table img {
  width: 70px;
  height: auto;
}
.inner-page-content table p {
  margin: 5px 0;
  font-size: 16px;
}
.inner-page-content table p:empty {
  display: none;
}
.inner-page-content table a {
  color: #000000;
  text-decoration: underline;
}
.inner-page-content table a:hover,
.inner-page-content table a:hover ~ p a {
  text-decoration: none;
}
.text-page-img {
  position: relative;
  min-height: 136px;
}
.text-page-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 30px 0 20px;
  background: rgba(255, 255, 255, 0.88);
}
.text-page-title .block-title {
  width: 910px;
  margin: 0 auto;
}
.page .text-page-content .container {
  min-height: calc(100vh - 270px);
  min-height: -webkit-calc(100vh - 270px);
  min-height: -o-calc(100vh - 270px);
  min-height: -moz-calc(100vh - 270px);
  min-height: -ms-calc(100vh - 270px);
}
.page.admin-bar .text-page-content .container {
  min-height: calc(100vh - 302px);
  min-height: -webkit-calc(100vh - 302px);
  min-height: -o-calc(100vh - 302px);
  min-height: -moz-calc(100vh - 302px);
  min-height: -ms-calc(100vh - 302px);
}
.prices-list {
  margin: 0 -16px;
}
.prices-list a {
  display: inline-block;
  width: 20%;
  margin-right: -4px;
  padding: 16px;
  color: #000000;
  text-align: center;
  vertical-align: top;
}
.prices-list a,
.prices-list a strong {
  font-size: 14px;
}
.prices-list a strong {
  display: inline-block;
  border-bottom: 1px solid transparent;
}
.prices-list a:hover strong {
  border-color: #000000;
}
body.page-template-contacts {
  background: #ffffff;
}
.contacts-page-content .container {
  padding-top: 160px;
}
.contacts-page-content .contacts-phones,
.contacts-page-content .contacts-shedule,
.contacts-page-content .contacts-map {
  opacity: 1;
  left: 0;
  transition: none;
}
.contacts-page-content .promo-form {
  transform: translateX(0);
  bottom: -200px;
  opacity: 1;
  transition: none;
}
.portfolio-page-content .block-title {
  margin-left: 25px;
}
.portfolio-page-content .container {
  padding-bottom: 18px;
}
.portfolio-text {
  padding: 50px 25px 0;
}
.portfolio-text p:first-child {
  margin-top: 0;
}
.portfolio-text p:last-child {
  margin-bottom: 0;
}
.portfolio-list {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 43px;
}
.portfolio-single {
  float: left;
  width: 33.333333333%;
  padding: 7px;
  outline: none;
}
.portfolio-single img {
  display: block;
  width: 100%;
  height: auto;
}
.portfolio-single-inner {
  position: relative;
}
.portfolio-hover {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.72);
  text-align: center;
  transition: all 0.5s ease;
}
.portfolio-single:hover .portfolio-hover {
  opacity: 1;
}
.top-decor,
.right-decor,
.bottom-decor,
.left-decor {
  position: absolute;
  background: #f5dc03;
}
.top-decor,
.bottom-decor {
  width: 80px;
  height: 2px;
}
.right-decor,
.left-decor {
  width: 2px;
  height: 80px;
}
.top-decor {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.right-decor {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.bottom-decor {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.left-decor {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.hover-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 22px;
  transform: translateY(-50%);
  font-size: 20px;
}
.portfolio-single-title {
  margin-top: 5px;
  font-weight: 400;
}
.catalog-page-content {
  padding: 75px 0;
}
.catalog-sidebar {
  width: 290px;
}
.catalog-content {
  width: 990px;
  padding-left: 40px;
  padding-top: 40px;
}
.parent-catalog-content {
  padding-top: 0;
}
.photovideo-page-content .catalog-content {
  width: 100%;
  padding-left: 0;
}
.catalog-menu {
  margin-top: 15px;
}
.catalog-menu li {
  position: relative;
  font-size: 23px;
}
.catalog-menu a {
  position: relative;
  display: inline-block;
  padding: 5px;
  color: #000000;
}
.catalog-menu a:before,
.catalog-menu a:after {
  content: '';
  position: absolute;
  bottom: 4px;
  width: 0;
  height: 2px;
  transition: all 0.4s ease;
}
.catalog-menu a:before {
  left: 5px;
  background: #f5dc03;
}
.catalog-menu a:after {
  right: 5px;
  background: #000000;
}
.catalog-menu li.current-menu-item > a:before,
.catalog-menu li.current > a:before,
.catalog-menu li.current-catalog-ancestor > a:before,
.catalog-menu li.current-portfolio-ancestor > a:before {
  width: 100%;
  width: calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  width: -moz-calc(100% - 10px);
  width: -o-calc(100% - 10px);
  width: -ms-calc(100% - 10px);
}
.catalog-menu li.current-menu-item > a:hover:after,
.catalog-menu li.current > a:hover:after,
.catalog-menu li.current-catalog-ancestor > a:hover:after,
.catalog-menu li.current-portfolio-ancestor > a:hover:after {
  width: 100%;
  width: calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  width: -moz-calc(100% - 10px);
  width: -o-calc(100% - 10px);
  width: -ms-calc(100% - 10px);
}
.catalog-menu li a:hover:before {
  width: 100%;
  width: calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  width: -moz-calc(100% - 10px);
  width: -o-calc(100% - 10px);
  width: -ms-calc(100% - 10px);
}
.catalog-menu li.menu-item-has-children:before {
  content: '-';
  position: absolute;
  left: -9px;
  top: 5px;
  padding-right: 5px;
  font-size: inherit;
}
.catalog-menu li:not(.menu-item-has-children):before {
  content: "";
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  left: -9px;
  top: 50%;
  margin-top: -2px;
  background: #000000;
  border-radius: 50%;
}
.catalog-menu ul ul {
  padding: 5px 0;
  margin-left: 25px;
}
.catalog-menu ul ul li {
  font-size: 19px;
}
.catalog-menu ul > li > ul {
  display: none;
}
.catalog-menu ul > li.current-menu-item > ul,
.catalog-menu ul > li.current-catalog-ancestor > ul,
.catalog-menu ul > li.current-portfolio-ancestor > ul,
.catalog-menu ul > li.current-menu-ancestor > ul {
  display: block;
}
.catalog-main-menu ul {
  display: block !important;
}
.item-img {
  position: relative;
  width: 440px;
  height: 350px;
  overflow: hidden;
}
.item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.item-info {
  width: 100%;
}
.item-desc .item-img {
  margin-left: 20px;
}
.item-desc h1,
.item-desc h2,
.item-desc h3,
.item-desc h4,
.item-desc strong,
.item-desc b {
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 400;
}
.item-desc h3 {
  font-size: 29px;
}
.breadcrumbs {
  margin-top: -5px;
  font-size: 17px;
}
.breadcrumbs,
.breadcrumbs a {
  color: rgba(0, 0, 0, 0.53);
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 8px;
  vertical-align: top;
}
.breadcrumbs li:after {
  content: '/';
  margin-left: 4px;
}
.breadcrumbs li:last-child:after {
  content: none;
}
.breadcrumbs a:hover {
  color: #000000;
}
.item-title {
  margin: 0 0 5px;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 400;
  font-size: 29px;
}
.item-desc p,
.item-desc ul,
.item-desc ol {
  margin: 15px 0;
  font-size: 18px;
}
.item-desc p:first-child,
.item-desc ul:first-child,
.item-desc ol:first-child {
  margin-top: 0;
}
.item-desc ul li,
.item-desc ol li {
  margin: 0 0 5px;
}
.item-desc-full {
  display: none;
}
.item-desc.full-content .item-desc-full {
  display: block;
}
.item-desc-more {
  display: inline-block;
  font-size: 18px;
  font-style: italic;
  color: #000000;
  border-bottom: 1px dashed #333333;
}
.item-desc-more:hover {
  color: #333333;
}
.attached-portfolio-list {
  margin: 35px -16px 0;
}
.attached-portfolio-list .foogallery-container a {
  display: block;
  float: left;
  width: 25%;
  margin: 0;
  padding: 16px;
  outline: none;
}
.attached-portfolio-list .foogallery-container img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 195px;
}
.catalog-attached-portfolio-list .foogallery-container a:nth-child(n+5) {
  display: none;
}
.attached-portfolio-list + .item-list {
  margin-top: 35px;
}
.attached-portfolio-list-link,
.prices-list-link {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.89);
}
.attached-portfolio-list-link a,
.prices-list-link a {
  display: inline-block;
  padding: 5px 10px;
  font-size: 18px;
  color: #000000;
  border: 2px solid #000000;
}
.attached-portfolio-list-link a:hover,
.prices-list-link a:hover {
  text-decoration: none;
}
body.mfp-zoom-out-cur.mfp-gallery .attached-portfolio-list-link,
body.mfp-zoom-out-cur.mfp-prices .prices-list-link {
  display: block;
  z-index: 999999999;
}
.catalog-content-category-title {
  margin: 10px 0 10px 16px;
  font-weight: 700;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
}
.post-type-archive-catalog .catalog-content-category-title:first-of-type {
  margin-top: 0;
}
.post-type-archive-catalog .post-85,
.post-type-archive-catalog .post-90,
.post-type-archive-catalog .post-91,
.post-type-archive-catalog .post-154,
.post-type-archive-catalog .post-158,
.post-type-archive-catalog .post-163,
.post-type-archive-catalog .post-177,
.post-type-archive-catalog .post-182,
.post-type-archive-catalog .post-165,
.post-type-archive-catalog .post-185 {
  display: none !important;
}
.item-list {
  margin-top: 50px;
  margin-left: -16px;
  margin-right: -16px;
}
.parent-item-list {
  margin-top: 0;
}
.item-list-title {
  padding-left: 16px;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.item-single {
  position: relative;
  float: left;
  width: 33.333333333%;
  padding: 16px;
  color: #ffffff;
}
.item-single img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 195px;
  transition: all 0.5s ease;
}
.item-single img[height="123"],
.item-single img[height="1793"],
.item-single img[height="1542"],
.item-single img[height="138"] {
  height: 195px;
}
.item-single:hover .item-single-title {
  color: #f5dc03;
}
.item-single:hover .item-single-desc {
  height: 20px;
  opacity: 1;
}
.item-single:hover img {
  transform: scale(1.1);
}
.item-single-inner {
  position: relative;
  overflow: hidden;
}
.item-single-overlay {
  display: none;
}
.item-single-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px 15px;
  background: #333333;
  z-index: 1;
}
.item-single-price {
  display: block;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 700;
}
.item-single-desc {
  display: block;
  font-size: 16px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.photovideo-page-content .item-single {
  width: 25%;
}
.single-item-content .item-info {
  width: 100%;
  padding-left: 0;
}
.single-item-content .item-img {
  width: 430px;
  height: auto;
  margin-left: 15px;
  overflow: inherit;
}
.single-item-content .item-img img {
  position: static;
  max-width: 100%;
  height: auto;
}
.item-gallery {
  margin-left: -5px;
  margin-right: -5px;
}
.item-gallery a {
  float: left;
  width: 25%;
  padding: 5px;
}
.item-order {
  padding: 5px;
  color: #ffffff;
  background: #222222;
  border-radius: 5px;
}
.item-order-price {
  padding-left: 15px;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-size: 23px;
  line-height: 46px;
}
.item-order-button {
  display: block;
  width: 100%;
  padding: 9px 0;
  font-size: 20px;
  text-align: center;
  color: #f5dc03;
  background: #333333;
  border-radius: 5px;
  border: 1px solid #000000;
}
.item-order-button:hover {
  color: #000000;
  background: #f5dc03;
  border-color: #f5dc03;
}
.item-price-list {
  width: 100%;
}
.item-price-list a {
  display: block;
  float: right;
  width: 128px;
  margin-top: 25px;
  margin-right: 50px;
}
.item-price-list a:nth-child(2n+1) {
  margin-right: 0;
}
.item-price-list img {
  width: 100%;
  height: auto;
}
.item-price-list-title {
  display: block;
  padding: 5px 0;
  font-size: 18px;
  text-align: center;
  color: #f5dc03;
  background: #333333;
  border-radius: 5px;
  border: 1px solid #000000;
}
.popup {
  position: relative;
  max-width: 505px;
  margin: 0 auto;
  padding: 20px 30px;
  color: #ffffff;
  background: #222222;
  border-radius: 10px;
}
.popup p {
  margin: 0;
}
.popup br {
  display: none;
}
.popup .form-title {
  margin: 0 0 25px;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-size: 23px;
}
.popup input[type=text],
.popup input[type=tel],
.popup textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 30px;
  font-size: 17px;
  color: #ffffff;
  background: #333333;
  border: none;
  border-radius: 5px;
}
.popup input[type=text]::-webkit-input-placeholder,
.popup input[type=tel]::-webkit-input-placeholder,
.popup textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}
.popup input[type=text]::-moz-placeholder,
.popup input[type=tel]::-moz-placeholder,
.popup textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
}
.popup input[type=text]:-moz-placeholder,
.popup input[type=tel]:-moz-placeholder,
.popup textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
}
.popup input[type=text]:-ms-input-placeholder,
.popup input[type=tel]:-ms-input-placeholder,
.popup textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}
.popup textarea {
  height: 120px;
  resize: none;
}
.popup input[type=submit] {
  display: block;
  width: 100%;
  width: calc(100% + 60px);
  width: -webkit-calc(100% + 60px);
  width: -moz-calc(100% + 60px);
  width: -o-calc(100% + 60px);
  width: -ms-calc(100% + 60px);
  margin: 0 auto;
  margin-top: 30px;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: -20px;
  padding: 20px 0;
  background: #111111;
  border: none;
  border-radius: 0 0 10px 10px;
}
.popup input[type=submit]:hover {
  color: #000000;
  background: #f5dc03;
}
.popup form.invalid input[type=submit] {
  border-radius: 0;
}
.popup .ajax-loader {
  position: absolute;
  right: 15px;
  top: 40px;
}
.popup div.wpcf7-response-output {
  margin: 50px 0 0;
  padding: 15px;
}
.popup span.wpcf7-not-valid-tip {
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #EC3800;
}
.tab-nav {
  margin-bottom: 15px;
}
.tab-nav a {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
  border-left: 1px solid #222222;
  border-top: 1px solid #222222;
  border-right: 1px solid #222222;
  vertical-align: middle;
}
.tab-nav a:first-child {
  border-radius: 5px 0 0 5px;
}
.tab-nav a:last-child {
  border-radius: 0 5px 5px 0;
}
.tab-nav a.tab-active,
.tab-nav a:hover {
  background: #1a1a1a;
}
.tab {
  display: none;
}
.tab.tab-active {
  display: block;
}
.mfp-bg {
  background: #ffffff;
  opacity: 0.89;
}
.mfp-close-btn-in .mfp-close {
  color: #f5dc03;
}
@media screen and (max-width: 1310px) {
  .container {
    width: 1000px;
  }
  .catalog-page-content .container,
  header .container,
  .top-panel .container {
    width: 1200px;
  }
  .catalog-content {
    width: 910px;
  }
  .single-item-content .item-img {
    width: 400px;
  }
  .top-panel .top-panel-map,
  .top-panel .top-panel-phone {
    margin-left: 50px;
  }
  .header-menu {
    margin-left: 35px;
  }
  .header-menu li {
    margin-right: 35px;
  }
  .promo-advantages {
    float: none;
  }
  .promo-services {
    display: none;
  }
  .advantage-single p {
    max-width: 330px;
  }
  .advantage-single p br {
    display: none;
  }
  .slide-img {
    width: 480px;
  }
  .slide-content {
    width: calc(100% - 480px);
    width: -webkit-calc(100% - 480px);
    width: -moz-calc(100% - 480px);
    width: -o-calc(100% - 480px);
    width: -ms-calc(100% - 480px);
    padding-left: 50px;
  }
  .index-portfolio-content {
    max-width: 805px;
  }
  .index-portfolio .portfolio-single {
    width: 25%;
  }
  .index-portfolio .hover-content {
    font-size: 19px;
  }
  .contacts-email {
    float: none;
    clear: both;
    margin-top: 35px;
  }
  p.contacts-map {
    width: 50%;
  }
  .item-single img {
    max-height: 178px;
  }
}
@media screen and (max-width: 1220px) {
  .container,
  .catalog-page-content .container,
  header .container,
  .top-panel .container {
    width: 1000px;
  }
  .header-menu li {
    margin-right: 20px;
  }
  .header-menu a {
    font-size: 19px;
  }
  .item-single img {
    max-height: 110px;
  }
  .catalog-content {
    width: 710px;
  }
  .single-item-content .item-img {
    width: 300px;
  }
  .item-price-list a {
    margin-right: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .container.container {
    width: 100%;
    padding: 0 15px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  p {
    font-size: 18px;
  }
  .animate {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: none;
    opacity: 1;
  }
  .container-inner {
    width: 100%;
  }
  .top-panel-map,
  .top-panel-shedule {
    display: none;
  }
  .top-panel .top-panel-email,
  .top-panel .top-panel-phone {
    display: block;
    float: none;
    margin: 0;
  }
  .top-panel .top-panel-email {
    margin-bottom: 10px;
  }
  .header-logo,
  .header-menu,
  .header-phone {
    display: block;
    float: none;
    margin: 0;
  }
  .header-logo {
    float: left;
    width: 150px;
    margin-top: 4.5px;
  }
  .header-menu:not(.opened) {
    display: none;
  }
  .header-menu {
    margin-top: 20px;
    padding-top: 0;
  }
  .header-menu li {
    display: block;
    margin: 0 0 10px;
  }
  .header-menu li:last-child {
    margin-bottom: 0;
  }
  .header-menu a {
    font-size: 18px;
  }
  .header-menu-line {
    display: none;
  }
  .mobile-menu,
  .mobile-clearfix {
    display: block;
  }
  .header-phone {
    margin-top: 20px;
    text-align: left;
  }
  .header-phone-tel {
    margin-bottom: 7px;
  }
  .promo {
    padding: 50px 0;
  }
  .promo-content,
  .promo-form {
    float: none;
    width: 100%;
  }
  .promo-content {
    padding: 0;
  }
  .promo-title {
    padding-left: 0;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .promo-advantages {
    text-align: left;
  }
  .promo-advantage-single {
    margin-bottom: 30px;
  }
  .promo-advantage-single img,
  .promo-advantage-single figcaption {
    display: block;
    margin: 0;
  }
  .promo-advantage-single img {
    width: auto;
    height: auto;
  }
  .promo-advantage-single figcaption {
    margin-top: 10px;
    padding-left: 0;
    font-size: 19px;
  }
  .promo-form {
    margin-top: 60px;
  }
  .promo-form form {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
  }
  .block-title {
    font-size: 36px;
  }
  .index-double {
    padding: 0;
    background: none;
  }
  .index-double .container {
    padding: 0;
  }
  .index-double strong {
    font-size: 17px;
  }
  .index-double-about,
  .index-double-advantages {
    float: none;
    width: 100%;
    padding: 50px 15px;
  }
  .index-double-about p:last-child {
    margin-bottom: 0;
  }
  .index-double-advantages {
    background: #222222;
  }
  .advantages-line {
    display: none;
  }
  .advantage-single {
    margin-bottom: 30px;
  }
  .advantage-single p {
    display: block;
    max-width: none;
    margin-top: 10px;
    padding-left: 0;
  }
  .index-slider {
    padding: 50px 0;
  }
  .slide-img,
  .slide-content {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .slide-content {
    margin-top: 10px;
    padding-right: 30px;
  }
  .slide-title {
    font-size: 28px;
  }
  .slide-title:after {
    width: 100%;
  }
  .index-portfolio .container {
    padding: 50px 15px 15px;
  }
  .index-portfolio-content {
    max-width: none;
    padding-left: 0;
  }
  .index-portfolio .portfolio-single {
    float: none;
    display: block;
    width: 100%;
  }
  .hover-content {
    padding: 22px;
  }
  .index-contacts {
    font-size: 18px;
  }
  .index-contacts .container {
    padding: 50px 15px;
  }
  .index-contacts .block-title {
    margin-bottom: 25px;
  }
  .index-contacts-form {
    position: static;
    float: none;
  }
  .contacts-phones,
  .contacts-shedule,
  .contacts-map,
  .contacts-email {
    float: none;
    width: 100%;
    display: block;
    margin: 30px 0 0;
  }
  .contacts-phones a,
  .contacts-shedule a,
  .contacts-map a,
  .contacts-email a,
  .contacts-phones p,
  .contacts-shedule p,
  .contacts-map p,
  .contacts-email p {
    margin-left: 0;
  }
  p.contacts-map {
    width: 100%;
  }
  #tentcar_map {
    height: 220px;
  }
  .footer-developer,
  .footer-info,
  .footer-phone {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .footer-info {
    margin: 25px 0;
  }
  .footer-developer {
    padding-top: 0;
    margin-bottom: 0;
  }
  .footer-developer img {
    display: block;
    margin: 0 auto;
    width: 150px;
  }
  .popup {
    padding: 15px;
  }
  .popup input[type=submit] {
    width: calc(100% + 30px);
    width: -webkit-calc(100% + 30px);
    width: -moz-calc(100% + 30px);
    width: -o-calc(100% + 30px);
    width: -ms-calc(100% + 30px);
    margin: 0 auto;
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    padding: 15px 0;
  }
  .text-page-content {
    padding: 0;
  }
  .text-page-content ul li {
    margin: 0 0 5px;
    font-size: 18px;
  }
  .text-page-content ul li:last-child {
    margin-bottom: 0;
  }
  .text-page-content table,
  .text-page-content tbody,
  .text-page-content tr {
    display: block;
    width: 100% !important;
    height: auto !important;
  }
  .text-page-content td {
    display: inline-block;
    width: 50% !important;
    height: auto !important;
    margin-right: -4px;
    vertical-align: top;
  }
  .text-page-img {
    min-height: 0;
  }
  .text-page-img img {
    display: none;
  }
  .text-page-title {
    position: static;
    padding: 50px 0 25px;
  }
  .text-page-title .block-title {
    width: 100%;
  }
  .page .text-page-content .container,
  .page.admin-bar .text-page-content .container {
    min-height: 0;
  }
  .prices-list a {
    width: 50%;
  }
  .portfolio-page-content .block-title {
    margin-left: 0;
  }
  .portfolio-page-content .container {
    padding-bottom: 25px;
  }
  .portfolio-list {
    padding: 0;
  }
  .portfolio-single {
    float: none;
    display: block;
    width: 100%;
    margin: 0 0 15px;
    padding: 0;
  }
  .portfolio-single:last-child {
    margin-bottom: 0;
  }
  .portfolio-text {
    padding: 15px 0 50px;
  }
  .hover-content {
    font-size: 19px;
  }
  .catalog-page-content {
    padding: 50px 0 25px;
  }
  .catalog-sidebar,
  .catalog-content {
    float: none;
    width: 100%;
    padding: 0;
  }
  .catalog-menu {
    margin-top: 20px;
  }
  .catalog-menu a {
    font-size: 20px;
  }
  .catalog-menu ul ul a {
    font-size: 18px;
  }
  .catalog-content {
    margin-top: 25px;
  }
  .item-img {
    width: 100%;
    height: auto;
    overflow: inherit;
  }
  .item-img img {
    position: static;
  }
  .item-info {
    width: 100%;
    margin-top: 10px;
    padding-left: 0;
  }
  .attached-portfolio-list {
    margin: 35px 0 0;
  }
  .attached-portfolio-list .foogallery-container a {
    float: none;
    display: block;
    width: 100%;
    margin: 0 0 15px;
    padding: 0;
  }
  .attached-portfolio-list .foogallery-container a:last-child {
    margin-bottom: 0;
  }
  .attached-portfolio-list .foogallery-container img {
    max-height: none;
  }
  .catalog-content-category-title {
    margin-left: 0;
  }
  .item-list {
    margin: 50px 0 0;
  }
  .item-list-title {
    margin: 0 0 15px;
    padding-left: 0;
  }
  .item-single {
    float: none;
    display: block;
    width: 100%;
    margin: 0 0 15px;
    padding: 0;
  }
  .item-single:last-child {
    margin-bottom: 0;
  }
  .item-single img {
    max-height: none;
  }
  .photovideo-page-content .item-single {
    width: 100%;
  }
  .single-item-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .single-item-content .item-info,
  .single-item-content .item-img {
    width: 100%;
  }
  .item-order {
    text-align: center;
  }
  .item-order-price {
    float: none;
    padding-left: 0;
    font-size: 20px;
    line-height: normal;
  }
  .item-order-button {
    margin-top: 10px;
    width: 100%;
  }
  .item-price-list {
    width: 100%;
    margin: 25px 0;
    float: none;
  }
  .item-price-list img {
    display: block;
    max-width: 100%;
    margin: 0 auto 5px;
  }
  .item-price-list a {
    width: 50%;
    margin: 25px 0 0;
    padding: 0 5px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header-menu li {
    display: inline-block;
    margin: 0 15px 0 0;
  }
  .header-menu li:last-child {
    margin: 0;
  }
  .promo-advantage-single {
    float: left;
    width: 33.333333333%;
  }
  .promo-advantage-single:nth-of-type(1) figcaption {
    margin-top: 27px;
  }
  .promo-form form {
    width: 80%;
    margin: 0 auto;
    float: none;
  }
  .advantage-single {
    float: left;
    width: 50%;
  }
  .slide-img img {
    margin: 0 auto;
  }
  .index-portfolio .portfolio-single {
    float: left;
    width: 50%;
    margin: 0;
  }
  .contacts-phones,
  .contacts-shedule {
    float: left;
    width: auto;
  }
  .contacts-shedule {
    margin-left: 60px;
  }
  #tentcar_map {
    height: 450px;
  }
  .portfolio-single {
    float: left;
    width: 50%;
    margin: 0;
  }
  .item-single {
    float: left;
    width: 50%;
    margin: 0;
  }
}
