@media screen and (max-width: 1310px) {

    .container {
        width: 1000px;
    }

    .catalog-page-content .container,
    header .container,
    .top-panel .container {
        width: 1200px;
    }

    .catalog-content {
        width: 910px;
    }

    .single-item-content .item-img {
        width: 400px;
    }

    .top-panel {

        .top-panel-map,
        .top-panel-phone {
            margin-left: 50px;
        }
    }

    .header-menu {
        margin-left: 35px;

        li {
            margin-right: 35px;
        }
    }

    // #index page
    .promo-advantages {
        float: none;
    }

    .promo-services {
        display: none;
    }

    .advantage-single {

        p {
            max-width: 330px;

            br {
                display: none;
            }
        }
    }

    .slide-img {
        width: 480px;
    }

    .slide-content {
        width: ~"calc(100% - 480px)";
        width: ~"-webkit-calc(100% - 480px)";
        width: ~"-moz-calc(100% - 480px)";
        width: ~"-o-calc(100% - 480px)";
        width: ~"-ms-calc(100% - 480px)";
        padding-left: 50px;
    }

    .index-portfolio-content {
        max-width: 805px;
    }

    .index-portfolio {

        .portfolio-single {
            width: 25%;
        }

        .hover-content {
            font-size: 19px;
        }
    }

    .contacts-email {
        float: none;
        clear: both;
        margin-top: 35px;
    }

    p.contacts-map {
        width: 50%;
    }

    .item-single {

        img {
            max-height: 178px;
        }
    }
}

@media screen and (max-width: 1220px) {

    .container,
    .catalog-page-content .container,
    header .container,
    .top-panel .container {
        width: 1000px;
    }

    .header-menu {

        li {
            margin-right: 20px;
        }

        a {
            font-size: 19px;
        }
    }

    .item-single {

        img {
            max-height: 110px;
        }
    }

    .catalog-content {
        width: 710px;
    }

    .single-item-content .item-img {
        width: 300px;
    }

    .item-price-list a {
        margin-right: 40px;
    }
}

@media screen and (max-width: 1000px) {

    .container.container {
        width: 100%;
        padding: 0 15px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    p {
        font-size: 18px;
    }

    .animate {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: none;
        opacity: 1;
    }

    .container-inner {
        width: 100%;
    }

    .top-panel-map,
    .top-panel-shedule {
        display: none;
    }

    .top-panel {

        .top-panel-email,
        .top-panel-phone {
            display: block;
            float: none;
            margin: 0;
        }

        .top-panel-email {
            margin-bottom: 10px;
        }
    }

    .header-logo,
    .header-menu,
    .header-phone {
        display: block;
        float: none;
        margin: 0;
    }

    .header-logo {
        float: left;
        width: 150px;
        margin-top: 4.5px;
    }

    .header-menu:not(.opened) {
        display: none;
    }

    .header-menu {
        margin-top: 20px;
        padding-top: 0;

        li {
            display: block;
            margin: 0 0 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            font-size: 18px;
        }
    }

    .header-menu-line {
        display: none;
    }

    .mobile-menu,
    .mobile-clearfix {
        display: block;
    }

    .header-phone {
        margin-top: 20px;
        text-align: left;
    }

    .header-phone-tel {
        margin-bottom: 7px;
    }

    // #index page
    .promo {
        padding: 50px 0;
    }

    .promo-content,
    .promo-form {
        float: none;
        width: 100%;
    }

    .promo-content {
        padding: 0;
    }

    .promo-title {
        padding-left: 0;
        font-size: 22px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .promo-advantages {
        text-align: left;
    }

    .promo-advantage-single {
        margin-bottom: 30px;

        img, figcaption {
            display: block;
            margin: 0;
        }

        img {
            width: auto;
            height: auto;
        }

        figcaption {
            margin-top: 10px;
            padding-left: 0;
            font-size: 19px;
        }
    }

    .promo-form {
        margin-top: 60px;

        form {
            width: 100%;
            padding: 15px;
            border-radius: 15px;
        }
    }

    .block-title {
        font-size: 36px;
    }

    .index-double {
        padding: 0;
        background: none;

        .container {
            padding: 0;
        }

        strong {
            font-size: 17px;
        }
    }

    .index-double-about,
    .index-double-advantages {
        float: none;
        width: 100%;
        padding: 50px 15px;
    }

    .index-double-about {

        p:last-child {
            margin-bottom: 0;
        }
    }

    .index-double-advantages {
        background: @dark;
    }

    .advantages-line {
        display: none;
    }

    .advantage-single {
        margin-bottom: 30px;

        p {
            display: block;
            max-width: none;
            margin-top: 10px;
            padding-left: 0;
        }

    }

    .index-slider {
        padding: 50px 0;
    }

    .slide-img,
    .slide-content {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .slide-content {
        margin-top: 10px;
        padding-right: 30px;
    }

    .slide-title {
        font-size: 28px;

        &:after {
            width: 100%;
        }
    }

    .index-portfolio {


        .container {
            padding: 50px 15px 15px;
        }
    }

    .index-portfolio-content {
        max-width: none;
        padding-left: 0;
    }

    .index-portfolio {

        .portfolio-single {
            float: none;
            display: block;
            width: 100%;
        }
    }

    .hover-content {
        padding: 22px;
    }

    .index-contacts {
        font-size: 18px;

        .container {
            padding: 50px 15px;
        }

        .block-title {
            margin-bottom: 25px;
        }
    }

    .index-contacts-form  {
        position: static;
        float: none;
    }

    .contacts-phones,
    .contacts-shedule,
    .contacts-map,
    .contacts-email {
        float: none;
        width: 100%;
        display: block;
        margin: 30px 0 0;

        a,
        p {
            margin-left: 0;
        }
    }

    p.contacts-map {
        width: 100%;
    }

    #tentcar_map {
        height: 220px;
    }

    .footer-developer, .footer-info, .footer-phone {
        display: block;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .footer-info {
        margin: 25px 0;
    }

    .footer-developer {
        padding-top: 0;
        margin-bottom: 0;

        img {
            display: block;
            margin: 0 auto;
            width: 150px;
        }
    }

    // #popup
    .popup {
        padding: 15px;

        input[type=submit] {
            width: ~"calc(100% + 30px)";
            width: ~"-webkit-calc(100% + 30px)";
            width: ~"-moz-calc(100% + 30px)";
            width: ~"-o-calc(100% + 30px)";
            width: ~"-ms-calc(100% + 30px)";
            margin: 0 auto;
            margin-top: 30px;
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: -15px;
            padding: 15px 0;
        }
    }

    // #about page
    .text-page-content {
        padding: 0;

        ul {

            li {
                margin: 0 0 5px;
                font-size: 18px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        table, tbody, tr {
            display: block;
            width: 100% !important;
            height: auto !important;
        }

        td {
            display: inline-block;
            width: 50% !important;
            height: auto !important;
            margin-right: -4px;
            vertical-align: top;
        }
    }

    .text-page-img {
        min-height: 0;

        img {
            display: none;
        }
    }

    .text-page-title {
        position: static;
        padding: 50px 0 25px;

        .block-title {
            width: 100%;
        }
    }

    .page .text-page-content .container,
    .page.admin-bar .text-page-content .container {
        min-height: 0;
    }

    // Prices list
    .prices-list {

        a {
            width: 50%;
        }
    }

    // #portfolio page
    .portfolio-page-content {

        .block-title {
            margin-left: 0;
        }

        .container {
            padding-bottom: 25px;
        }
    }

    .portfolio-list {
        padding: 0;
    }

    .portfolio-single {
        float: none;
        display: block;
        width: 100%;
        margin: 0 0 15px;
        padding: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .portfolio-text {
        padding: 15px 0 50px;
    }

    .hover-content {
        font-size: 19px;
    }

    // #catalog page
    .catalog-page-content {
        padding: 50px 0 25px;
    }

    .catalog-sidebar,
    .catalog-content {
        float: none;
        width: 100%;
        padding: 0;
    }

    .catalog-menu {
        margin-top: 20px;

        a {
            font-size: 20px;
        }
    }

    .catalog-menu ul ul {

        a {
            font-size: 18px;
        }
    }

    .catalog-content {
        margin-top: 25px;
    }

    .item-img {
        width: 100%;
        height: auto;
        overflow: inherit;

        img {
            position: static;
        }
    }

    .item-info {
        width: 100%;
        margin-top: 10px;
        padding-left: 0;
    }

    .attached-portfolio-list {
        margin: 35px 0 0;

        .foogallery-container {

            a {
                float: none;
                display: block;
                width: 100%;
                margin: 0 0 15px;
                padding: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            img {
                max-height: none;
            }
        }
    }

    .catalog-content-category-title {
        margin-left: 0;
    }

    .item-list {
        margin: 50px 0 0;
    }

    .item-list-title {
        margin: 0 0 15px;
        padding-left: 0;
    }

    .item-single {
        float: none;
        display: block;
        width: 100%;
        margin: 0 0 15px;
        padding: 0;

        &:last-child {
            margin-bottom: 0;
        }

        img {
            max-height: none;
        }
    }

    .photovideo-page-content .item-single {
        width: 100%;
    }

    // #single item page
    .single-item-content {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column-reverse;
        -moz-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        -o-flex-direction: column-reverse;
        flex-direction: column-reverse;

        .item-info,
        .item-img {
            width: 100%;
        }
    }

    .item-order {
        text-align: center;
    }

    .item-order-price {
        float: none;
        padding-left: 0;
        font-size: 20px;
        line-height: normal;
    }

    .item-order-button {
        margin-top: 10px;
        width: 100%;
    }

    .item-price-list {
        width: 100%;
        margin: 25px 0;
        float: none;

        img {
            display: block;
            max-width: 100%;
            margin: 0 auto 5px;
        }

        a {
            width: 50%;
            margin: 25px 0 0;
            padding: 0 5px;
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

    .header-menu {

        li {
            display: inline-block;
            margin: 0 15px 0 0;

            &:last-child {
                margin: 0;
            }
        }
    }

    .promo-advantage-single {
        float: left;
        width: 33.333333333%;
    }

    .promo-advantage-single:nth-of-type(1) figcaption {
        margin-top: 27px;
    }

    .promo-form {

        form {
            width: 80%;
            margin: 0 auto;
            float: none;
        }
    }

    .advantage-single {
        float: left;
        width: 50%;
    }

    .slide-img {

        img {
            margin: 0 auto;
        }
    }

    .index-portfolio {

        .portfolio-single {
            float: left;
            width: 50%;
            margin: 0;
        }
    }

    .contacts-phones, .contacts-shedule {
        float: left;
        width: auto;
    }

    .contacts-shedule {
        margin-left: 60px;
    }

    #tentcar_map {
        height: 450px;
    }

    .portfolio-single {
        float: left;
        width: 50%;
        margin: 0;
    }

    .item-single {
        float: left;
        width: 50%;
        margin: 0;
    }
}
