// #colors
@black: #000;
@dark: #222;
@white: #fff;
@yellow: #f5dc03;

// #fonts
@ptsans: 'PT Sans', 'Open Sans', sans-serif;
@ptsanscaption: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
@ptsansnarrow: 'PT Sans Narrow', 'Open Sans Condensed', sans-serif;
@roboto: 'Roboto', 'Open Sans Light', sans-serif;

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after,
nav:after,
header:after
// div:after,
// header:after,
// section:after,
// article:after
{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

address {
  font-style: normal;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure, dl, dd {
  margin: 0;
}

input,
textarea {
    outline: none;
}

a {
	text-decoration: none;
}

p {
    margin: 25px 0;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: @ptsans;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.to-left {
  float: left;
}
.to-right {
  float: right;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// #cols loop
// .grid( @name; @columns; @index: 1 ) when ( @index =< @columns ) {
//   .grid( @name; @columns; (@index + 1) );
//
//   &.@{name}-@{index} .block-col {
//     width: ( percentage(1 / @index) );
//   }
// }

// #cols
// .block-cols {
//
//   .block-col {
//     display: inline-block;
//     margin-right: -4px;
//     vertical-align: top;
//   }
//
//   .grid(block-cols; 6);
// }
