// #catalog page
.catalog-page-content {
    padding: 75px 0;
}

.catalog-sidebar {
    width: 290px;
}

.catalog-content {
    width: 990px;
    padding-left: 40px;
    padding-top: 40px;
}
.parent-catalog-content {
    padding-top: 0;
}

.photovideo-page-content .catalog-content {
    width: 100%;
    padding-left: 0;
}

.catalog-menu {
    margin-top: 15px;

    li {
        position: relative;
        font-size: 23px;
    }

    a {
        position: relative;
        display: inline-block;
        padding: 5px;
        color: @black;
        //border-bottom: 2px solid transparent;

        &:before,
        &:after {
            content: '';
            position: absolute;
            bottom: 4px;
            width: 0;
            height: 2px;
            transition: all 0.4s ease;
        }
        &:before {
            left: 5px;
            background: @yellow;
        }
        &:after {
            right: 5px;
            background: @black;
        }
    }

    li.current-menu-item,
    li.current,
    li.current-catalog-ancestor,
    li.current-portfolio-ancestor {

        & > a {
            //border-bottom: 2px solid @yellow;

            &:before {
                width: 100%;
                width: ~"calc(100% - 10px)";
                width: ~"-webkit-calc(100% - 10px)";
                width: ~"-moz-calc(100% - 10px)";
                width: ~"-o-calc(100% - 10px)";
                width: ~"-ms-calc(100% - 10px)";
            }
        }

        & > a:hover {

            &:after {
                width: 100%;
                width: ~"calc(100% - 10px)";
                width: ~"-webkit-calc(100% - 10px)";
                width: ~"-moz-calc(100% - 10px)";
                width: ~"-o-calc(100% - 10px)";
                width: ~"-ms-calc(100% - 10px)";
            }
        }
    }

    li a:hover {

        &:before {
            width: 100%;
            width: ~"calc(100% - 10px)";
            width: ~"-webkit-calc(100% - 10px)";
            width: ~"-moz-calc(100% - 10px)";
            width: ~"-o-calc(100% - 10px)";
            width: ~"-ms-calc(100% - 10px)";
        }
    }

    li.menu-item-has-children {

        &:before {
            content: '-';
            position: absolute;
            left: -9px;
            top: 5px;
            padding-right: 5px;
            font-size: inherit;
        }
    }

    li:not(.menu-item-has-children) {

        &:before {
            content: "";
            position: absolute;
            display: block;
            width: 4px;
            height: 4px;
            left: -9px;
            top: 50%;
            margin-top: -2px;
            background: @black;
            border-radius: 50%;
        }
    }
}

.catalog-menu ul ul {
    padding: 5px 0;
    margin-left: 25px;

    li {
        font-size: 19px;
    }
}

.catalog-menu ul > li > ul {
    display: none;
}

.catalog-menu ul > li.current-menu-item > ul,
.catalog-menu ul > li.current-catalog-ancestor > ul,
.catalog-menu ul > li.current-portfolio-ancestor > ul,
.catalog-menu ul > li.current-menu-ancestor > ul {
    display: block;
}

.catalog-main-menu ul {
    display: block !important;
}

// #catalog content
.item-img {
    position: relative;
    width: 440px;
    height: 350px;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
}

.item-info {
    width: 100%;
}

.item-desc .item-img {
    margin-left: 20px;
}

.item-desc h1,
.item-desc h2,
.item-desc h3,
.item-desc h4,
.item-desc strong,
.item-desc b {
    font-family: @ptsanscaption;
    font-weight: 400;
}

.item-desc h3 {
    font-size: 29px;
}

.breadcrumbs {
    margin-top: -5px;
    font-size: 17px;

    &, a {
        color: fade(@black, 53%);
    }

    li {
        display: inline-block;
        margin-right: 8px;
        vertical-align: top;

        &:after {
            content: '/';
            margin-left: 4px;
        }
        &:last-child:after {
            content: none;
        }
    }

    a:hover {
        color: @black;
    }
}

.item-title {
    margin: 0 0 5px;
    font-family: @ptsanscaption;
    font-weight: 400;
    font-size: 29px;
}

.item-desc {

    p, ul, ol {
        margin: 15px 0;
        font-size: 18px;

        &:first-child {
            margin-top: 0;
        }
    }

    ul, ol {

        li {
            margin: 0 0 5px;
        }
    }
}

.item-desc-full {
    display: none;
}
.item-desc.full-content .item-desc-full {
    display: block;
}

.item-desc-more {
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    color: @black;
    border-bottom: 1px dashed lighten(@dark, 6.5%);

    &:hover {
        color: lighten(@dark, 6.5%);
    }
}

.attached-portfolio-list {
    margin: 35px -16px 0;

    .foogallery-container {

        a {
            display: block;
            float: left;
            width: 25%;
            margin: 0;
            padding: 16px;
            outline: none;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
            max-height: 195px;
        }
    }
}

.catalog-attached-portfolio-list .foogallery-container a:nth-child(n+5) {
    display: none;
}

.attached-portfolio-list + .item-list {
    margin-top: 35px;
}

.attached-portfolio-list-link,
.prices-list-link {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.89);

    a {
        display: inline-block;
        padding: 5px 10px;
        font-size: 18px;
        color: @black;
        border: 2px solid @black;

        &:hover {
            text-decoration: none;
        }
    }
}

body.mfp-zoom-out-cur.mfp-gallery .attached-portfolio-list-link,
body.mfp-zoom-out-cur.mfp-prices .prices-list-link {
    display: block;
    z-index: 999999999;
}

.catalog-content-category-title {
    margin: 10px 0 10px 16px;
    font-weight: 700;
    font-family: @ptsanscaption;
}
.post-type-archive-catalog .catalog-content-category-title:first-of-type {
    margin-top: 0;
}

// Fix for hiding categories
.post-type-archive-catalog {

    .post-85, .post-90, .post-91,
    .post-154, .post-158, .post-163,
    .post-177, .post-182, .post-165,
    .post-185 {
        display: none !important;
    }
}

.item-list {
    margin-top: 50px;
    margin-left: -16px;
    margin-right: -16px;
}
.parent-item-list {
    margin-top: 0;
}

.item-list-title {
    padding-left: 16px;
    font-family: @ptsanscaption;
    font-size: 20px;
    font-weight: 700;
}

.item-single {
    position: relative;
    float: left;
    width: 33.333333333%;
    padding: 16px;
    color: @white;

    img {
        display: block;
        width: 100%;
        height: auto;
        max-height: 195px;
        transition: all 0.5s ease;
    }

    img[height="123"],
    img[height="1793"],
    img[height="1542"],
    img[height="138"] {
        height: 195px;
    }

    &:hover {

        .item-single-title {
            color: @yellow;
        }

        .item-single-desc {
            height: 20px;
            opacity: 1;
        }

        img {
            transform: scale(1.1);
        }
    }
}

.item-single-inner {
    position: relative;
    overflow: hidden;
}

.item-single-overlay {
    display: none;
}

.item-single-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
    background: lighten(@dark, 6.5%);
    z-index: 1;
}

.item-single-price {
    display: block;
    font-family: @ptsanscaption;
    font-weight: 700;
}

.item-single-desc {
    display: block;
    font-size: 16px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.photovideo-page-content .item-single {
    width: 25%;
}

// #single good page
.single-item-content {

    .item-info {
        width: 100%;
        padding-left: 0;
    }

    .item-img {
        width: 430px;
        height: auto;
        margin-left: 15px;
        overflow: inherit;

        img {
            position: static;
            max-width: 100%;
            height: auto;
        }
    }
}

.item-gallery {
    margin-left: -5px;
    margin-right: -5px;

    a {
        float: left;
        width: 25%;
        padding: 5px;
    }
}

.item-order {
    padding: 5px;
    color: @white;
    background: @dark;
    border-radius: 5px;
}

.item-order-price {
    padding-left: 15px;
    font-family: @ptsanscaption;
    font-size: 23px;
    line-height: 46px;
}

.item-order-button {
    display: block;
    width: 100%;
    padding: 9px 0;
    font-size: 20px;
    text-align: center;
    color: @yellow;
    background: lighten(@dark, 6.5%);
    border-radius: 5px;
    border: 1px solid @black;

    &:hover {
        color: @black;
        background: @yellow;
        border-color: @yellow;
    }
}

.item-price-list {
    width: 100%;

    a {
        display: block;
        float: right;
        width: 128px;
        margin-top: 25px;
        margin-right: 50px;

        &:nth-child(2n+1) {
            margin-right: 0;
        }
    }

    img {
        width: 100%;
        height: auto;
    }
}

.item-price-list-title {
    display: block;
    padding: 5px 0;
    font-size: 18px;
    text-align: center;
    color: @yellow;
    background: lighten(@dark, 6.5%);
    border-radius: 5px;
    border: 1px solid @black;
}
