// #top panel
.top-panel {
    background: @black;
    padding: 20px 0;

    .top-panel-phone,
    .top-panel-email,
    .top-panel-map,
    .top-panel-shedule {
        font-size: 16px;
        color: fade(@white, 56%);
    }

    .top-panel-map,
    .top-panel-shedule {
        margin: 0;
    }

    .top-panel-phone,
    .top-panel-email {

        &:hover {
            color: @white;
        }
    }

    .top-panel-phone,
    .top-panel-map {
        margin-left: 115px;
    }

    .fa {
        margin-right: 9px;
        font-size: 18px;
        vertical-align: middle;
    }
}

// #header
header {
    background: @dark;
    padding: 20px 0;
}

.header-logo {
    margin-top: 9px;

    img {
        display: block;
        width: 240px;
    }
}

.mobile-menu,
.mobile-clearfix {
    display: none;
}

.mobile-menu {
    width: 26px;
    height: 26px;
    cursor: pointer;

    svg {
        fill: @white;
    }
}
.mobile-menu:active,
.mobile-menu.opened {

    svg {
        fill: @yellow;
    }
}

.header-menu {
    position: relative;
    margin-left: 120px;
    padding-top: 20px;

    li {
        display: inline-block;
        margin-right: 45px;
        vertical-align: top;

        &:last-child {
            margin-right: -4px;
        }
    }

    a {
        position: relative;
        display: block;
        font-family: @roboto;
        font-size: 20px;
        font-weight: 100;
        color: @white;
        text-transform: lowercase;
    }
}

.header-menu-line {
    position: absolute;
    width: 0;
    height: 1px;
    left: 0;
    bottom: 0;
    background: @yellow;
    transition: all 0.6s ease;
}

.header-phone {
    margin-top: 10px;
    text-align: right;
}

.header-phone-callback,
.header-phone-tel {
    color: @white;
}

.header-phone-tel {
    display: block;
    font-size: 22px;
    line-height: 1;
}

.header-phone-callback {
    font-size: 14px;
    border-bottom: 1px solid @white;

    &:hover {
        border-color: transparent;
    }
}

.callback {
    outline: none;
}

// #promo block
.promo {
    position: relative;
    padding: 60px 0 100px;
    color: @white;
    background: url('../img/bg-header.jpg') no-repeat center top ;
    background-size: cover;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: fade(@black, 76%);
}

.promo-content,
.promo-form {
    width: 50%;
}

.promo-content {
    padding-top: 15px;
    padding-left: 25px;
    //
    position: relative;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 0.6s linear;

    &.visible {
        transform: translateX(0);
        opacity: 1;
    }
}

.promo-title {
    margin: 0 0 35px;
    padding: 30px 0 30px 30px;
    font-family: @ptsanscaption;
    font-weight: 700;
    font-size: 26px;
    border-top: 1px solid @yellow;
    border-bottom: 1px solid @yellow;

    b {
        color: @yellow;
        text-transform: uppercase;
    }
}

.promo-advantage-single {
    margin-bottom: 45px;

    img,
    figcaption {
        display: inline-block;
        vertical-align: middle;
    }

    img {
        width: 65px;
        height: auto;
    }

    figcaption {
        max-width: 300px;
        font-family: @ptsanscaption;
        font-weight: 400;
        font-size: 21px;
        padding-left: 35px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.promo-services {
    margin-left: 35px;
    padding: 5px 0;

    ul {
        margin: 0;
        padding: 0;
        padding-left: 65px;
        list-style-type: square;
        border-left: 1px solid @yellow;
    }

    li {
        margin-bottom: 10px;
        font-family: @ptsanscaption;
        font-weight: 400;
        font-size: 23px;
        color: @yellow;

        &:last-child {
            margin-bottom: 0;
        }
    }

    strong {
        font-weight: 400;
        color: @white;
    }
}

.promo-form {
    color: @white;
    //
    position: relative;
    transform: translateX(100px);
    opacity: 0;
    transition: all 0.6s linear;

    &.visible {
        transform: translateX(0);
        opacity: 1;
    }

    form {
        position: relative;
        width: 445px;
        padding: 50px 20px 30px;
        background: @dark;
        border: 3px solid darken(@yellow, 5%);
        border-radius: 20px;

        br {
            display: none;
        }

        p {
            margin: 0;
        }
    }

    .form-title {
        margin: 0 0 30px;
        font-family: @ptsanscaption;
        font-weight: 400;
        font-size: 17px;
        letter-spacing: 0.80pt;
        text-align: center;
        text-transform: uppercase;
    }

    input[type=text],
    input[type=tel],
    textarea {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        padding: 18px 30px;
        font-size: 17px;
        color: @white;
        background: lighten(@dark, 6.5%);
        border: none;

        &::-webkit-input-placeholder { color: fade(@white, 20%); font-style: italic; }
        &::-moz-placeholder          { color: fade(@white, 20%); font-style: italic; }
        &:-moz-placeholder           { color: fade(@white, 20%); font-style: italic; }
        &:-ms-input-placeholder      { color: fade(@white, 20%); font-style: italic; }
    }

    textarea {
        height: 120px;
        resize: none;
    }

    input[type=submit] {
        display: block;
        width: 100%;
        margin-top: 30px;
        padding: 13px 0;
        font-size: 22px;
        color: @dark;
        background-image: -moz-linear-gradient( 90deg, rgb(192,178,19) 0%, rgb(255,228,0) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(192,178,19) 0%, rgb(255,228,0) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(192,178,19) 0%, rgb(255,228,0) 100%);
        border: none;
        border-radius: 20px;
        text-align: center;

        &:hover {
            background-image: -moz-linear-gradient( 90deg, rgb(255,228,0) 0%, rgb(192,178,19) 100%);
            background-image: -webkit-linear-gradient( 90deg, rgb(255,228,0) 0%, rgb(192,178,19) 100%);
            background-image: -ms-linear-gradient( 90deg, rgb(255,228,0) 0%, rgb(192,178,19) 100%);
        }
        &:active {
            position: relative;
            top: 2px;
        }
    }

    .ajax-loader {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    div.wpcf7-response-output {
        margin: 30px 0 0;
        padding: 15px;
        font-size: 16px;
    }

    span.wpcf7-not-valid-tip {
        margin-top: -20px;
        margin-bottom: 20px;
        font-size: 16px;
        color: #EC3800;
    }
}

.block-title {
    position: relative;
    margin: 0;
    padding: 30px 0 0;
    font-family: @ptsansnarrow;
    font-size: 43px;
    font-weight: 400;
    letter-spacing: 0.07em;

    &:before,
    &:after {
        content: '';
        left: 0;
        position: absolute;
        height: 2px;
    }
    &:before {
        top: 0;
        width: 90px;
        background: @yellow;
    }
    &:after {
        top: 15px;
        width: 210px;
        background: @black;
    }
}

// #double block
.index-double {
    padding: 80px 0;
    background: url('../img/bg-double.jpg') repeat-y left 38px top;
    background-size: 100% auto;

    strong {
        font-family: @ptsanscaption;
        font-weight: 700;
        font-size: 19px;
    }
}

.index-double-about,
.index-double-advantages {
    width: 50%;
}

.index-double-about {
    padding-right: 70px;
}

.index-double-advantages {
    padding-left: 70px;
    color: @white;

    .block-title {

        &:after {
            background: @white;
        }
    }
}

.advantages-list {
    position: relative;
    margin-top: 25px;
}

.advantages-line {
    position: absolute;
    top: 0;
    left: 42px;
    width: 2px;
    height: 100%;
    background: @white;
}

.advantage-single {
    position: relative;
    margin-bottom: 45px;

    .advantage-img,
    p {
        display: inline-block;
        vertical-align: middle;
    }

    &:nth-last-of-type(1) {
        margin-bottom: 0;
    }
    &:nth-of-type(2) img {
        margin-left: 25px;
    }

    p {
        margin: 0;
        padding-left: 15px;
        //
        position: relative;
        right: -70px;
        opacity: 0;
        transition: all 0.7s ease;

        &.visible {
            right: 0;
            opacity: 1;
        }
    }
}

.advantage-img {
    position: relative;
    width: 85px;
    height: 85px;
    background: @dark;
    border: 1px solid @white;
    border-radius: 50%;
    //
    transform: scale(0);
    transition: transform 0.7s ease;
    transform-origin: center center;

    &.visible {
        transform: scale(1);
    }

    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}

// #slider block
.index-slider {
    position: relative;
    padding: 75px 0;
    background: url('../img/bg-slider.jpg') no-repeat center top;
    background-size: cover;

    .bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: fade(@white, 94%);
    }
}

.slide-img,
.slide-content {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.slide-img {
    width: 380px;

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.slide-content {
    width: ~"calc(100% - 380px)";
    width: ~"-webkit-calc(100% - 380px)";
    width: ~"-moz-calc(100% - 380px)";
    width: ~"-o-calc(100% - 380px)";
    width: ~"-ms-calc(100% - 380px)";
    padding-left: 70px;
    padding-right: 50px;

    p:last-of-type {
        margin-bottom: 0;
    }
}

.slide-title {
    margin: 0 0 30px;
    padding: 0 0 10px;
    position: relative;
    font-family: @ptsanscaption;
    font-weight: 400;
    font-size: 34px;

    a {
        color: @black;

        &:hover {
            color: lighten(@dark, 6.5%);
        }
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 345px;
        background: @black;
    }
}

.slick-slide {
    outline: none !important;
}

.slick-dots {
    position: absolute;
    right: 3.125%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    list-style: none;

    button {
        display: none;
    }

    li {
        display: block;
        width: 18px;
        height: 18px;
        margin-bottom: 20px;
        border-radius: 50%;
        background: fade(@black, 55%);
        cursor: pointer;

        &:last-child {
            margin-bottom: 0;
        }
        &.slick-active {
            background: @black;
        }
    }
}

// #portfolio block
.index-portfolio {

    .container {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .block-title,
    .index-portfolio-content {
        display: inline-block;
        margin-right: -4px;
        vertical-align: middle;
    }
}

.index-portfolio-content {
    max-width: 930px;
    padding-left: 100px;
    text-align: justify;
}

.index-portfolio {

    .portfolio-single {
        width: 20%;
        padding: 0;
    }
}

// #contacts block
.index-contacts {
    font-size: 20px;

    .container {
        padding: 75px 0;
    }

    .block-title {
        margin-bottom: 55px;
    }

    .fa {
        margin-right: 15px;
        font-size: 38px;
        color: fade(@black, 34%);
        vertical-align: middle;
    }

    strong {
        font-family: @ptsanscaption;
        font-weight: 700;
    }

    a {
        display: block;
        margin-left: 33px;
        color: @black;
    }

    p {
        margin: 0;
    }
}

.contacts-phones {

    br {
        display: none;
    }
}

.contacts-shedule,
.contacts-phones {

    strong {
        display: block;
    }

    p {
        margin-left: 49px;
    }
}

.contacts-email {

    a {
        margin-left: 50px;
    }
}

p.contacts-map {
    margin-top: 35px;
}

.contacts-shedule {
    margin-left: 60px;
    max-width: 300px;
}

.contacts-shedule,
.contacts-phones,
.contacts-map {
    position: relative;
    left: -100px;
    opacity: 0;
    transition: all 0.7s linear;

    &.visible {
        left: 0;
        opacity: 1;
    }
}

#tentcar_map {
    height: 700px;
}

.index-contacts-form {
    width: auto;
    position: absolute;
    right: 0;
    z-index: 1;
    //
    bottom: 0;
    opacity: 0;
    transition: all 0.7s linear;

    &.visible {
        opacity: 1;
        bottom: -200px;
    }

    .form-title {
        font-size: 20px;
        text-transform: none;
    }
}

// #footer
footer {
    padding: 25px 0;
    background: @dark;
}

.footer-phone,
.footer-info,
.footer-developer {
    display: inline-block;
    width: 33.333333333333%;
    margin-right: -4px;
    vertical-align: middle;
}

.footer-phone {
    text-align: left;

    .header-phone-tel {
        color: @yellow;
    }
}

.footer-info {
    text-align: center;
    font-family: @ptsansnarrow;
    font-size: 16px;
    color: fade(@white, 49%);
}

.footer-developer {
    padding-top: 7px;
    text-align: right;

    img {
        display: inline-block;
    }
}
