// #text page
.container-inner {
    position: relative;
    width: 910px;
    margin: 0 auto;
    padding: 0;
}

body.page {
    background: url('../img/bg-page.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}

.text-page-content {

    .container {
        background: @white;
        padding-bottom: 25px;
    }
}

.inner-page-content {
    padding-top: 50px;

    img {
        max-width: 100%;
        height: auto;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            font-size: 20px;
        }
    }

     strong, b {
        font-family: @ptsanscaption;
        font-size: 21px;
        font-weight: 400;
    }

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }

    table {
        width: 100% !important;
        height: auto !important;

        td {
            padding: 0 5px 30px;
        }

        img {
            width: 70px;
            height: auto;
        }

        p {
            margin: 5px 0;
            font-size: 16px;
        }
        p:empty {
            display: none;
        }

        a {
            color: @black;
            text-decoration: underline;
        }

        a:hover,
        a:hover ~ p a {
            text-decoration: none;
        }
    }
}

.text-page-img {
    position: relative;
    min-height: 136px;
}

.text-page-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 30px 0 20px;
    background: fade(@white, 88%);

    .block-title {
        width: 910px;
        margin: 0 auto;
    }
}

.page .text-page-content .container {
    min-height: ~"calc(100vh - 270px)";
    min-height: ~"-webkit-calc(100vh - 270px)";
    min-height: ~"-o-calc(100vh - 270px)";
    min-height: ~"-moz-calc(100vh - 270px)";
    min-height: ~"-ms-calc(100vh - 270px)";
}

.page.admin-bar .text-page-content .container {
    min-height: ~"calc(100vh - 302px)";
    min-height: ~"-webkit-calc(100vh - 302px)";
    min-height: ~"-o-calc(100vh - 302px)";
    min-height: ~"-moz-calc(100vh - 302px)";
    min-height: ~"-ms-calc(100vh - 302px)";
}

// Prices list
.prices-list {
    margin: 0 -16px;

    a {
        display: inline-block;
        width: 20%;
        margin-right: -4px;
        padding: 16px;
        color: @black;
        text-align: center;
        vertical-align: top;

        &, strong {
            font-size: 14px;
        }
        strong {
            display: inline-block;
            border-bottom: 1px solid transparent;
        }

        &:hover strong {
            border-color: @black;
        }
    }
}
