.popup {
    position: relative;
    max-width: 505px;
    margin: 0 auto;
    padding: 20px 30px;
    color: @white;
    background: @dark;
    border-radius: 10px;

    p {
        margin: 0;
    }

    br {
        display: none;
    }

    .form-title {
        margin: 0 0 25px;
        font-family: @ptsanscaption;
        font-size: 23px;
    }

    input[type=text],
    input[type=tel],
    textarea {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        padding: 15px 30px;
        font-size: 17px;
        color: @white;
        background: lighten(@dark, 6.5%);
        border: none;
        border-radius: 5px;

        &::-webkit-input-placeholder { color: fade(@white, 20%); }
        &::-moz-placeholder          { color: fade(@white, 20%); }
        &:-moz-placeholder           { color: fade(@white, 20%); }
        &:-ms-input-placeholder      { color: fade(@white, 20%); }
    }

    textarea {
        height: 120px;
        resize: none;
    }

    input[type=submit] {
        display: block;
        width: 100%;
        width: ~"calc(100% + 60px)";
        width: ~"-webkit-calc(100% + 60px)";
        width: ~"-moz-calc(100% + 60px)";
        width: ~"-o-calc(100% + 60px)";
        width: ~"-ms-calc(100% + 60px)";
        margin: 0 auto;
        margin-top: 30px;
        margin-left: -30px;
        margin-right: -30px;
        margin-bottom: -20px;
        padding: 20px 0;
        background: lighten(@black, 6.5%);
        border: none;
        border-radius: 0 0 10px 10px;

        &:hover {
            color: @black;
            background: @yellow;
        }
    }

    form.invalid input[type=submit] {
        border-radius: 0;
    }

    .ajax-loader {
        position: absolute;
        right: 15px;
        top: 40px;
    }

    div.wpcf7-response-output {
        margin: 50px 0 0;
        padding: 15px;
    }

    span.wpcf7-not-valid-tip {
        margin-top: -20px;
        margin-bottom: 20px;
        font-size: 16px;
        color: #EC3800;
    }
}

.tab-nav {
    margin-bottom: 15px;
}

.tab-nav a {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    border-left: 1px solid @dark;
    border-top: 1px solid @dark;
    border-right: 1px solid @dark;
    vertical-align: middle;

    &:first-child {
        border-radius: 5px 0 0 5px;
    }
    &:last-child {
        border-radius: 0 5px 5px 0;
    }
}

.tab-nav a.tab-active,
.tab-nav a:hover {
    background: lighten(@black, 10%);
}

.tab {
    display: none;
}

.tab.tab-active {
    display: block;
}

.mfp-bg {
    background: @white;
    opacity: 0.89;
}

.mfp-close-btn-in .mfp-close {
    color: @yellow;
}
